.note
{
font-size:15 px;
color:blue;
}

.HEROBRINE
{
font-size:15px;
width:100%;
margin:0px;
box-shadow:10px 10px 10px blue;
}
.NEHBKGA
{
font-size:15 px;
color:white;
}
canvas
{
width:500px;
height:500px;
border-radius:50%;
}